<!DOCTYPE html>
<html lang="pt-br">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title><%- process.env.TITLE %></title>


	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">

	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

	<script>
		var limit = 8;
		var limit2;
		function verificaOrgao() {
			var orgao = $('#orgao').val();
			// ID DO ORGAO 'OUTRO' = 172
			if (orgao === '172') {
				$("#div_chefe").hide();
				$("#chefe").removeAttr("required");
				$("#email_chefe").removeAttr("required");
				$("#chefe").val("");
				$("#email_chefe").val("");
				$("#div_lotacao").hide();
				$("#lotacao").removeAttr("required");
				$("#lotacao").val("");
				$("#div_cargo").hide();
				$("#cargo").removeAttr("required");
				$("#cargo").val("");
				$("#div_funcao").hide();
				$("#funcao").removeAttr("required");
				$("#funcao").val("");
				$("#div_area").hide();
				$("#area").removeAttr("required");
				$("#area").val("");
				$("#div_ID").hide();
				$("#matricula").removeAttr("required");
				$("#matricula").val("");
			} else {
				$("#div_chefe").show();
				$("#chefe").attr("required", "required");
				$("#email_chefe").attr("required", "required");
				$("#div_lotacao").show();
				$("#lotacao").attr("required", "required");
				$("#div_cargo").show();
				$("#cargo").attr("required", "required");
				$("#div_funcao").show();
				$("#funcao").attr("required", "required");
				$("#div_area").show();
				$("#area").attr("required", "required");
				$("#div_ID").show();
				$("#matricula").attr("required", "required");
			}

		}

		function myFunction() {

			var estadoId = $('#estado').val();

			$('#municipio').empty()
			$.ajax({
				type: "GET",
				url: "/app/instituicao/municipio/" + estadoId,
				success: function (data) {
					$.each(data, function (i, d) {
						$('#municipio').append('<option value="' + d.id + '">' + d.nome + '</option>');
					});
				}
			})
		}

		function limitCurso() {
			document.getElementById("curso1").removeAttribute("disabled");
			var curso0 = $('#curso0').val();
			if ($('#curso1').val().length == limit2) {
				$('#curso1').value = $('#curso1').val()-1;
			}
			if (curso0.length === limit) {
				document.getElementById("curso1").setAttribute("disabled", "disabled");
			}
			limit2 = limit - curso0.length;
			
		}

		function limitCurso1() {		
			var curso1 = $('#curso1').val();
			if (curso1.length == limit2) {
				document.getElementById("curso1").setAttribute("disabled", "disabled");
			}
		}

		function getCursos(numero) {
			var categoria0 = $('#categoria0').val();
			var categoria1 = document.getElementById("categoria1");
			if (numero == '0') {
				$('#categoria1').empty();
				$('#curso1').empty();
				<% areasInteresse.forEach(function(dat) { %>
					$('#categoria1').append('<option value="<%= dat.id %>"><%= dat.nome %></option>');
				<% }); %>
			}
			for(var i = 0; i < categoria1.length; i++) {
				if (categoria1.options[i].value == categoria0) {
					categoria1.remove(i);
				}
			}
			var categoriad = '#categoria' + numero;
			var categoriaId = $(categoriad).val();
			var idcurso = '#curso' + numero;
			$(idcurso).empty()
			$.ajax({
				type: "GET",
				url: "/app/professor/categoria/" + categoriaId,
				success: function (data) {
					$.each(data, function (i, d) {
						$(idcurso).append('<option class="checkbox" value="' + d.id + '">' + d.nome + '</option>');
					});
				}
			})
		}

		$('#cpf').mask('000.000.000-00');
		$('#celular').mask('(00) 00000-0000');
		$('#fone').mask('(00) 0000-0000');
	</script>

</head>

<body id="page-top" onload="verificaOrgao()">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Menu -->
		<%- include ../template/menu.ejs %>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Header -->
				<%- include ../template/topo.ejs %>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-4 text-gray-800">Credenciamento</h1>

					<div class="row">

						<!-- Earnings (Monthly) Card Example -->
						<div class="col-xl-12 col-md-12 mb-4">
							<div class="card border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<form class="user" method="POST" action="/app/<%= page %>/create/submit"
												enctype="multipart/form-data">
												<fieldset
													style="border: 1px groove #FFF !important; padding: 0 1.4em 1.4em 1.4em !important; margin: 0 0 1.5em 0 !important;">
													<legend style="width: auto; padding:0 10px; border-bottom:none;">
														Informações de Usuário</legend>

													<div class="form-group row">
														<div class="col-sm-4">
															CPF
															<input type="text" class="form-control" id="cpf" name="cpf"
																required>
														</div>
														<!-- <div class="col-sm-4">
																Senha <small>(min. 8 caracteres)</small>
																<input type="password" name="password" id="password"
																	class="form-control" pattern=".{8,}" required
																	title="Mínimo de 8 caracteres">
															</div> -->
														<div class="col-sm-4">
															Foto
															<input type="file" accept="image/*" name="photo" id="photo"
																class="form-control">
														</div>
													</div>

													<div class="form-group row">
														<div class="col-sm-4">
															Nome
															<input type="text" class="form-control" id="nome"
																name="nome">
														</div>
														<div class="col-sm-4">
															RG
															<input type="text" class="form-control" id="rg" name="rg">
														</div>
														<div class="col-sm-4">
															Email
															<input type="email" class="form-control" id="email"
																name="email" required>
														</div>
													</div>
													<div class="form-group row">
														<div class="col-sm-4">
															Sexo
															<select name="sexo" id="sexo" class="form-control">
																<option value="Feminino">Feminino</option>
																<option value="Masculino">Masculino</option>
																<option value="Outro">Outro</option>
															</select>
														</div>
														<div class="col-sm-4">
															Nome Social
															<input type="text" class="form-control" id="nomesocial"
																name="nomesocial">
														</div>
														<div class="col-sm-4">
															Data de Nascimento
															<input type="date" class="form-control" id="datanascimento"
																name="datanascimento">
														</div>
													</div>
													<div class="form-group row">
														<div class="col-sm-4">
															Órgão: *
															<select class="form-control" id="orgao" name="orgao"
																onchange="verificaOrgao()" required>
																<option value="">Selecione o órgão...</option>
																<% for (var i = 0; i < itensOrgaos.length; i++) { %>
																<% if (itensOrgaos[i].id != null ) { %>
																<option value="<%- itensOrgaos[i].id %>"
																	<%= itensOrgaos[i].id === 172 ? 'selected' : '' %>>
																	<%- itensOrgaos[i].sigla %>
																</option>
																<% } %>
																<% } %>
															</select>
														</div>
														<div id="div_lotacao" class="col-sm-4">
															Lotação / Setor: *
															<input type="text" class="form-control" id="lotacao"
																name="lotacao" required>
														</div>
														<div id="div_cargo" class="col-sm-4">
															Cargo: *
															<input type="text" class="form-control" id="cargo"
																name="cargo" required>
														</div>
													</div>
													<div class="form-group row">
														<div id="div_funcao" class="col-sm-4">
															Função:
															<input type="text" class="form-control" id="funcao"
																name="funcao">
														</div>
														<div id="div_area" class="col-sm-4">
															Área de atuação: *
															<input type="text" class="form-control" id="area"
																name="area" required>
														</div>
														<div id="div_ID" class="col-sm-4">
															ID:
															<input type="text" class="form-control" id="matricula"
																name="matricula">
														</div>
													</div>



													<div id="div_chefe" class="form-group row">
														<div class="col-sm-4">
															Setor
															<input type="text" class="form-control" id="setor"
																name="setor">
														</div>

														<div class="col-sm-4">
															Chefe
															<input type="text" class="form-control" id="chefe"
																name="chefe">
														</div>

														<div class="col-sm-4">
															Email Chefe
															<input type="text" class="form-control" id="emailchefe"
																name="emailchefe">
														</div>

													</div>

													<div class="form-group row">
														<div class="col-sm-4">
															Formação
															<select class="form-control" name="formacao" id="formacao">
																<option value="ENSINO_MEDIO">Ensino Médio</option>
																<option value="SUPERIOR_INCOMPLETO">Superior
																	Incompleto</option>
																<option value="SUPERIOR_COMPLETO">Superior Completo
																</option>
																<option value="POS_GRADUACAO">Pós Graduação</option>
																<option value="MESTRADO">Mestrado</option>
																<option value="DOUTORADO">Doutorado</option>
															</select>
														</div>
														<!--
														<div class="col-sm-6">
															Setor do Órgão
															<select class="form-control" id="setor" name="setor">
																<option value="1">Selecione o setor...</option>
															</select>
														</div>
														-->


													</div>

												</fieldset>

												<fieldset
													style="border: 1px groove #FFF !important; padding: 0 1.4em 1.4em 1.4em !important; margin: 0 0 1.5em 0 !important;">
													<legend style="width: auto; padding:0 10px; border-bottom:none;">
														Endereço</legend>

													<div class="form-group row">
														<div class="col-sm-4">
															Logradouro
															<input type="text" class="form-control" id="logradouro"
																name="logradouro">
														</div>
														<div class="col-sm-4">
															Número
															<input type="text" class="form-control" id="numero"
																name="numero">
														</div>
														<div class="col-sm-4">
															Complemento
															<input type="text" class="form-control" id="complemento"
																name="complemento">
														</div>
													</div>
													<div class="form-group row">
														<div class="col-sm-4">
															Bairro
															<input type="text" class="form-control" id="bairro"
																name="bairro">
														</div>
														<div class="col-sm-4">
															CEP
															<input type="text" class="form-control" id="cep" name="cep">
														</div>
														<div class="col-sm-4">
															Estado
															<select class="form-control" id="estado" name="estado"
																onchange="myFunction()">
																<option value="">Selecione o estado...</option>
																<% for (var i = 0; i < itensEstados.length; i++) { %>
																<% if (itensEstados[i].id != null ) { %>
																<option id="estadoid" value="<%- itensEstados[i].id %>">
																	<%- itensEstados[i].nome %>
																</option>
																<% } %>
																<% } %>
															</select>
														</div>
													</div>
													<div class="form-group row">
														<div class="col-sm-4">
															Telefone Fixo
															<input type="text" class="form-control" id="fone"
																name="fone">
														</div>
														<div class="col-sm-4">
															Celular
															<input type="text" class="form-control" id="celular"
																name="celular">
														</div>
														<div class="col-sm-4">
															Município
															<select class="form-control" id="municipio"
																name="municipio">
																<option value="1">Selecione o município...</option>
															</select>
														</div>
													</div>
												</fieldset>

												<fieldset
													style="border: 1px groove #FFF !important; padding: 0 1.4em 1.4em 1.4em !important; margin: 0 0 1.5em 0 !important;">
													<legend style="width: auto; padding:0 10px; border-bottom:none;">
														Informações Profissionais</legend>


													<div class="form-group row">
														<div class="col-sm-3">
															PIS
															<input type="text" class="form-control" id="pis" name="pis">
														</div>
														<div class="col-sm-3">
															PASEP
															<input type="text" class="form-control" id="pasep"
																name="pasep">
														</div>
														<div class="col-sm-2">
															INSS
															<input type="text" class="form-control" id="inss"
																name="inss">
														</div>
														<div class="col-sm-2">
															Estado Civil
															<select required class="form-control" name="estadocivil"
																id="estadocivil">
																<option value="">Selecione</option>
																<option value="SOLTEIRO">Solteiro
																</option>
																<option value="CASADO">Casado</option>
																<option value="UNIAO_ESTAVEL">União Estável
																</option>
																<option value="DIVORCIADO">Divorciado</option>
																<option value="VIUVO">Viúvo</option>
																<option value="SEPARADO">Separado</option>
															</select>
														</div>
													</div>
													<div class="form-group row">
														<div class="col-sm-4">
															Documentos
															<input class="form-control" type="file" name="documento"
																id="documento" accept="application/pdf"
																multiple="multiple">
														</div>
													</div>

													<div id="div_interesses">
														<ul value="interesses" class="list-unstyled" id="interesses">
															<li id="interesses">
																<div class="row">
																	<div class="col-sm-4">
																		Áreas de Interesse 1
																		<select class="form-control" id="categoria0"
																			name="categoria" onchange="getCursos('0')">
																			<option value="">Selecione...</option>
																			<% for (var i = 0; i < areasInteresse.length; i++) { %>
																			<option id=""
																				value="<%- areasInteresse[i].id %>">
																				<%- areasInteresse[i].nome %></option>
																			<% } %>
																		</select>
																	</div>
																	<div class="col-sm-4">
																		Subárea(s) de Interesse: <span style="color: red;">(Para selecionar mais de uma opção mantenha pressionada a tecla CTRL.)</span>
																		<select class="form-control" id="curso0"
																			name="curso" multiple onchange="limitCurso()">
																			<option value="1">Selecione...</option>
																		</select>
																	</div>
																</div><br/>
																<div class="row">
																	<div class="col-sm-4">
																		Áreas de Interesse 2
																		<select class="form-control" id="categoria1"
																			name="categoria1" onchange="getCursos('1')">
																			<option value="">Selecione...</option>
																			<% for (var i = 0; i < areasInteresse.length; i++) { %>
																			<option id=""
																				value="<%- areasInteresse[i].id %>">
																				<%- areasInteresse[i].nome %></option>
																			<% } %>
																		</select>
																	</div>
																	<div class="col-sm-4">
																		Subárea(s) de Interesse: <span style="color: red;">(Para selecionar mais de uma opção mantenha pressionada a tecla CTRL.)</span>
																		<select class="form-control" id="curso1"
																			name="curso1" multiple onchange="limitCurso1()">
																			<option value="1">Selecione...</option>
																		</select>
																	</div>
																</div>
															</li>
														</ul>
													</div>
													<br /><br />
													<fieldset
														style="border: 1px groove #FFF !important; padding: 0 1.4em 1.4em 1.4em !important; margin: 0 0 1.5em 0 !important;">
														<legend
															style="width: auto; padding:0 10px; border-bottom:none;">
															Formações do Professor</legend>

														<div id="div_formacoes">
															<ul value="formacoes" class="list-unstyled" id="formacoes">
																<li id="formacoes">
																	<div class="row">
																		<div class="col-sm-3">
																			Formação
																			<select required class="form-control"
																				name="tpFormacao" id="tpFormacao">
																				<option value="">Selecione
																				</option>
																				<option value="ENSINO_MEDIO">Ensino
																					Médio
																				</option>
																				<option value="SUPERIOR_INCOMPLETO">
																					Superior
																					Incompleto</option>
																				<option value="SUPERIOR_COMPLETO">
																					Superior
																					Completo</option>
																				<option value="POS_GRADUACAO">Pós
																					Graduação
																				</option>
																				<option value="MESTRADO">Mestrado
																				</option>
																				<option value="DOUTORADO">Doutorado
																				</option>
																			</select>
																		</div>
																		<div class="col-sm-3">
																			Instituição
																			<input type="text" class="form-control"
																				id="instituicao" name="instituicao">
																		</div>
																		<div required class="col-sm-2">
																			Curso
																			<input type="text" class="form-control"
																				id="cursoFormacao" name="cursoFormacao">
																		</div>
																		<div required class="col-sm-2">
																			Ano
																			<input type="number" class="form-control"
																				id="ano" name="ano">
																		</div>
																	</div>
																</li>
															</ul>
														</div>
														<button id="btnAddFormacao" type="button"
															class="btn btn-sm btn-success mb-2 mt-2">Adicionar
															Formação</button>

													</fieldset><br /><br />
													<fieldset
														style="border: 1px groove #FFF !important; padding: 0 1.4em 1.4em 1.4em !important; margin: 0 0 1.5em 0 !important;">
														<legend
															style="width: auto; padding:0 10px; border-bottom:none;">
															Experiências como Professor</legend>


														<div id="div_experiencias">
															<ul value="experiencias" class="list-unstyled"
																id="experiencias">
																<li id="experiencias">
																	<div class="row">
																		<div class="col-sm-2">
																			Curso
																			<input type="text" class="form-control"
																				id="experienciaCurso"
																				name="experienciaCurso">
																		</div>
																		<div class="col-sm-1">
																			Carga Horária
																			<input type="number" class="form-control"
																				id="experienciaCargaHoraria"
																				name="experienciaCargaHoraria">
																		</div>
																		<div class="col-sm-3">
																			Instituição
																			<input type="text" class="form-control"
																				id="experienciaInstituicao"
																				name="experienciaInstituicao">
																		</div>

																		<div class="col-sm-2">
																			Inicio
																			<input type="date" class="form-control"
																				id="experienciaInicio"
																				name="experienciaInicio">
																		</div>
																		<div class="col-sm-2">
																			Fim
																			<input type="date" class="form-control"
																				id="experienciaFim"
																				name="experienciaFim">
																		</div>
																	</div>
																</li>
															</ul>
														</div>
														<button id="btnAddExperiencia" type="button"
															class="btn btn-sm btn-success mt-2 mb-2">Adicionar
															Experiência</button>
													</fieldset>

													<button class="btn btn-lg btn-success float-right">Salvar</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Rodapé -->
			<%- include ../template/rodape.ejs %>

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>


	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="/js/demo/datatables-demo.js"></script>
	<script>
		$('.toast').toast('show');
	</script>
	<script>
		$(function () {
			var scntDiv = $('#div_experiencias');
			var i = $('#div_experiencias li').length + 1;

			$('#btnAddExperiencia').on('click', function () {
				$(
					'<div id="addExperiencia" class="row">' +
					'<div class="col-sm-2">' +
					'Curso' +
					'	<input type="text" class="form-control" id="experienciaCurso" name="experienciaCurso">' +
					'</div>' +
					'<div class="col-sm-1">Carga Horária<input type="number" class="form-control"' +
					'id="experienciaCargaHoraria" name="experienciaCargaHoraria"></div>' +
					'<div class="col-sm-3">' +
					'Instituição' +
					'<input type="text" class="form-control" id="experienciaInstituicao" name="experienciaInstituicao"></div>' +
					'<div class="col-sm-2">Inicio<input type="date" class="form-control"' +
					'id="experienciaInicio" name="experienciaInicio"></div>' +
					'<div class="col-sm-2">Fim<input type="date"' +
					'class="form-control" id="experienciaFim" name="experienciaFim"></div>' +
					'<div class="col-sm-1"><br/>' +
					'<button id="btnRemExperiencia" type="button" class="btn btn-sm btn-danger">' +
					'<i class="fas fa-times-circle"></i>' +
					'</button>'
					+ '</div>' +
					'</div>'
				).appendTo(scntDiv);
				i++;
				return false;
			});

			$(document).on('click', '#btnRemExperiencia', function () {
				if (i > 2) {
					$('#addExperiencia').remove();
					i--;
				}
				return false;
			});
		});
	</script>
	<script>
		$(function () {
			var scntDiv = $('#div_formacoes');
			var i = $('#div_formacoes li').length + 1;

			$('#btnAddFormacao').on('click', function () {
				$(
					'<div id="addFormacao" class="row">' +
					'<div class="col-sm-3">' +
					'Formação' +
					'	<select class="form-control" name="tpFormacao"' +
					'id="tpFormacao">' +
					'<option value="">Selecione</option>' +
					'<option value="ENSINO_MEDIO">Ensino Médio</option>' +
					'<option value="SUPERIOR_INCOMPLETO">Superior Incompleto</option>' +
					'<option value="SUPERIOR_COMPLETO">SuperiorCompleto</option>' +
					'<option value="POS_GRADUACAO">Pós Graduação</option>' +
					'<option value="MESTRADO">Mestrado</option>' +
					'<option value="DOUTORADO">Doutorado</option> </select> </div>' +
					'<div class="col-sm-3">' +
					'Instituição' +
					'<input type="text" class="form-control"' +
					'id="instituicao" name="instituicao"></div>' +
					'<div class="col-sm-2">Curso<input type="text" class="form-control"' +
					'id="cursoFormacao" name="cursoFormacao"></div>' +
					'<div class="col-sm-2">Ano<input type="number"' +
					'class="form-control" id="ano" name="ano"></div>' +
					'<div class="col-sm-1"><br/>' +
					'<button id="btnRemFormacao" type="button" class="btn btn-sm btn-danger">' +
					'<i class="fas fa-times-circle"></i>' +
					'</button>'
					+ '</div>' +
					'</div>'
				).appendTo(scntDiv);
				i++;
				return false;
			});

			$(document).on('click', '#btnRemFormacao', function () {
				if (i > 2) {
					$('#addFormacao').remove();
					i--;
				}
				return false;
			});
		});
	</script>

</body>

</html>