<!DOCTYPE html>
<html lang="pt-br">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title><%- process.env.TITLE %></title>

	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link
		href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="/css/sb-admin-2.min.css" rel="stylesheet">

	<!-- Custom styles for this page -->
	<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Menu -->
		<%- include ../template/menu.ejs %>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Header -->
				<%- include ../template/topo.ejs %>

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-4 text-gray-800">Editar Turma Presencial</h1>

					<div class="row">

						<!-- Earnings (Monthly) Card Example -->
						<div class="col-xl-12 col-md-12 mb-4">
							<div class="card border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<form class="user" method="POST" action="/app/curso/<%= curso.id %>/<%= page %>/edit/submit"
												enctype="multipart/form-data">

												<div class="form-group row">
													<div class="col-sm-4">
														Vagas
														<input type="number" name="vagas" id="vagas"
															class="form-control" placeholder="Vagas"
															value="<%= vagas %>">
													</div>
													<div class="col-sm-4">
															<input type="hidden" class="form-control" id="codigo"
																name="codigo" value="<%= codigo %>">
													</div>
												</div>

												<div class="form-group row">
													<div class="col-sm-4">
														Data de início
														<input type="date" name="dataInicio" id="dataInicio"
															class="form-control" value="<%= dataInicio %>" required>
													</div>
													<div class="col-sm-4">
														Data de fim
														<input type="date" name="dataFim" id="dataFim"
															class="form-control" value="<%= dataFim %>" required>
													</div>
												</div>

												<div class="form-group row">
													<div class="col-sm-2">
														Hora Inicial
														<input type="time" name="horaInicio" id="horaInicio" class="form-control" value="<%= horaInicio %>">
													</div>
													<div class="col-sm-2">
														Hora Final
														<input type="time" name="horaFim" id="horaFim" class="form-control" value="<%= horaFim %>">
													</div>
													<div class="col-sm-4">
														Local
														<input type="text" name="local" id="local" class="form-control"
															placeholder="Local" value="<%= local %>">
													</div>
												</div>

												<div class="form-group row">
													<div class="col-sm-4">
														Turno
														<select class="form-control" name="turno" id="turno">
															<option value="MATUTINO" <%= turno == 'MATUTINO' ? 'selected' : '' %>>Matutino</option>
															<option value="VESPERTINO" <%= turno == 'VESPERTINO' ? 'selected' : '' %>>Vespertino</option>
															<option value="INTEGRAL" <%= turno == 'INTEGRAL' ? 'selected' : '' %>>Integral</option>
														</select>
													</div>
													<div class="col-sm-4">
														Restrição
														<input type="text" name="restricao" id="restricao"
															class="form-control" placeholder="Restrição"
															value="<%= restricao %>">
													</div>
												</div>

												<div class="form-group row">
													<div class="col-sm-4">
														Publicar
														<select class="form-control" name="publicar" id="publicar">
															<option value="true"
																<%- publicar === true ? 'selected' : '' %>>Sim</option>
															<option value="false"
																<%- publicar === false ? 'selected' : '' %>>Não</option>
														</select>
													</div>
													<div class="col-sm-4">
														Fechar
														<select class="form-control" name="fechar" id="fechar">
															<option value="true"
																<%- fechar === true ? 'selected' : '' %>>Sim</option>
															<option value="false"
																<%- fechar === false ? 'selected' : '' %>>Não</option>
														</select>
													</div>
												</div>

												<div class="form-group row">
													<div class="col-sm-4">
														OBS:
														<textarea name="obs" id="obs" class="form-control"
															placeholder="Obs..."><%- obs %></textarea>
													</div>
													<% if (curso.disciplina == false) { %>
													<div class="col-sm-4">
														Instrutor
														<select class="form-control" id="professor" name="professor">
															<option value="null">Selecione o instrutor</option>
															<% for (var i = 0; i < itensProfessores.length; i++) { %>
															<option value="<%- itensProfessores[i].id %>"
																<%= itensProfessores[i].id === professorId ? 'selected' : '' %>>
																<%- itensProfessores[i].nome %></option>
															<% } %>
														</select>
													</div>
													<% } %>
												</div>

												<div class="form-group row">
													<div class="col-sm-4">
														<label>Situação:</label>
														<div class="radio">
															<label>
																<input type="radio" name="situacao" value="true"
																	<%= situacao === true ? 'checked' : '' %>>Ativo
															</label>
														</div>
														<div class="radio">
															<label>
																<input type="radio" name="situacao" value="false"
																	<%= situacao === false ? 'checked' : '' %>>Inativo
															</label>
														</div>
													</div>
												</div>

												<input type="hidden" name="curso" id="curso" value="<%= curso.id %>">

												<div class="form-group row">
													<div class="col-sm-4">
														<input type="submit" value="Salvar"
															class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" />
														<a href="/app/curso/<%= curso.id %>/<%= page %>/list"
															class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm">Cancelar</a>
													</div>
												</div>
												<input type="hidden" id="id" name="id" value="<%= id %>">
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Rodapé -->
			<%- include ../template/rodape.ejs %>

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>



	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

	<!-- Page level plugins -->
	<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
	<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

	<!-- Page level custom scripts -->
	<script src="/js/demo/datatables-demo.js"></script>

</body>

</html>