<!DOCTYPE html>
<html lang="pt-br">

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title><%- process.env.TITLE %></title>

		<!-- Custom fonts for this template-->
		<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
		<link
			href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
			rel="stylesheet">

		<!-- Custom styles for this template-->
		<link href="/css/sb-admin-2.min.css" rel="stylesheet">

		<!-- Custom styles for this page -->



		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!------ Include the above in your HEAD tag ---------->

		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

		<style>
			.select2-container .select2-selection--single {
				height: 34px !important;
			}

			.select2-container--default .select2-selection--single {
				border: 1px solid #ccc !important;
				border-radius: 0px !important;
			}
		</style>


	</head>

	<body id="page-top">

		<!-- Page Wrapper -->
		<div id="wrapper">

			<!-- Menu -->
			<%- include ../template/menu.ejs %>

			<!-- Content Wrapper -->
			<div id="content-wrapper" class="d-flex flex-column">

				<!-- Main Content -->
				<div id="content">

					<!-- Header -->
					<%- include ../template/topo.ejs %>

					<!-- Begin Page Content -->
					<div class="container-fluid">

						<!-- Page Heading -->
						<h1 class="h3 mb-4 text-gray-800">Inscrever</h1>

						<div class="row">

							<!-- Earnings (Monthly) Card Example -->
							<div class="col-xl-12 col-md-12 mb-4">
								<div class="card border-left-primary shadow h-100 py-2">
									<div class="card-body">
										<div class="row no-gutters align-items-center">
											<div class="col mr-2">
												<form class="user" method="POST" action="/app/<%= page %>/create/submit"
													enctype="multipart/form-data">


													<div class="form-group row">

														<div class="col-sm-4">
															Candidato
															<select class="form-control select2" required id="candidato"
																name="candidato">
																<option value="">Selecione um Candidato...</option>
																<% for (var i = 0; i < candidatos.length; i++) { %>
																<% if (candidatos[i].id != null ) { %>
																<option value="<%- candidatos[i].id %>">
																	<%- candidatos[i].nome %>
																</option>
																<% } %>
																<% } %>
															</select>
															<script>
																$('.select2').select2();
															</script>
														</div>
														<div class="col-sm-4">
															<input hidden type="text" class="form-control" name="turma"
																id="turma" value="<%= codigo %>" disabled>
														</div>
														<input type="hidden" name="cpf" id="cpf"
															value="<%= informacoes.cpf %>" disabled>
													</div>

													<div class="form-group row">
														<div class="col-sm-4">
															Curso
															<input type="text" name="curso" id="curso"
																class="form-control" value="<%= curso %>" disabled>
														</div>
														<div class="col-sm-4">
															Categoria
															<input type="text" name="categoria" id="categoria"
																class="form-control" value="<%= categoria %>" disabled>
														</div>
													</div>

													<div class="form-group row">
														<div class="col-sm-4">
															Período
															<input type="text" class="form-control" name="periodo"
																id="periodo"
																value="<%= dataInicio %> até <%= dataFim %>" disabled>
														</div>
														<div class="col-sm-4">
															Horário
															<input type="text" class="form-control" name="horario"
																id="horario"
																value="<%= horaInicio %> até <%= horaFim %>" disabled>
														</div>
													</div>

													<div class="form-group row">
														<div class="col-sm-4">
															Motivo da Inscrição
															<select class="form-control" id="motivo" name="motivo">
																<option value="INICIATIVA_PROPRIA">Iniciativa própria
																</option>
																<option value="ORIENTACAO_DO_AGENTE_DA_REDE">Orientação
																	do
																	agente da rede</option>
																<option value="RECOMENDACAO_DO_CHEFE">Recomendação do
																	chefe
																</option>
															</select>
														</div>
														<div class="col-sm-4">
															Carga Horária
															<input type="text" class="form-control" name="cargaHoraria"
																id="cargaHoraria" value="<%= cargaHoraria %>" disabled>
														</div>
													</div>

													<input type="hidden" name="idcandidato" id="idcandidato"
														value="<%= informacoes.idCandidato %>">
													<input type="hidden" name="idturma" id="idturma" value="<%= id %>">


													<div class="form-group row">
														<div class="col-sm-4">
															<input type="submit" value="Salvar"
																class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" />
															<a href="/app/turma/<%= id%>/inscricoes/<%=codigo%>"
																class="d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm">Cancelar</a>
														</div>
													</div>
													<input type="hidden" id="id" name="id" value="<%= id %>">
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
					<!-- /.container-fluid -->

				</div>
				<!-- End of Main Content -->

				<!-- Rodapé -->
				<%- include ../template/rodape.ejs %>

			</div>
			<!-- End of Content Wrapper -->

		</div>
		<!-- End of Page Wrapper -->

		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top">
			<i class="fas fa-angle-up"></i>
		</a>



		<!-- Bootstrap core JavaScript-->
		<script src="/vendor/jquery/jquery.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

		<!-- Core plugin JavaScript-->
		<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

		<!-- Custom scripts for all pages-->
		<script src="/js/sb-admin-2.min.js"></script>

		<!-- Page level plugins -->
		<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
		<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

		<!-- Page level custom scripts -->
		<script src="/js/demo/datatables-demo.js"></script>

	</body>

</html>